
@* @{
    ViewData["Title"] = "Index";
    Layout = "~/Views/CustomerLayout/Index.cshtml";
}

<h1>.....................                    Dolar-Türk Lirası:@ViewBag.UsdToTry</h1>
<h1>.....................                    Euro-Türk Lirası:@ViewBag.EurToTry</h1>
<h1>.....................                    Bitcoin-USD:@ViewBag.BtcToUsd</h1>
<h1>.....................                    İngiliz Sterlini-Türk Lirası:@ViewBag.BtcToGbp</h1>


 *@
